 html {
     scroll-behavior: smooth;
     scroll-padding-top: 50px;
 }

 * {
     margin: 0;
     padding: 0;
     font-family: "Inter", "Open Sans", Arial, sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     font-family: "Poppins", "Montserrat", "Rubik", sans-serif;
 }

 a {
     text-decoration: none;
     color: black;
     font-size: 18px;
 }

 .container {
     max-width: 1280px;
     margin: 0 auto;
 }

 hr {
     opacity: 0.15;
 }

 p {
     line-height: 25px;
 }

 /* header */
 header {
     padding: 50px 0;
     position: relative;
 }

 nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .app {
     color: orange;
 }

 .applab {
     font-size: 35px;
     font-weight: bolder;
 }

 header .applab:hover {
     color: orange;

     .app {
         color: black;
     }
 }

 .links {
     margin: 0;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 3rem;
 }

 .links li {
     font-size: 1.3rem;
 }

 li {
     list-style: none;
 }

 .btn {
     background-color: blue;
     border-radius: 40px;
     padding: 15px 40px;
     color: white;
     max-width: 100px;
     display: block;
     text-align: center;
     font-weight: bolder;
 }

 .btn:hover {
     background-color: darkblue;
     transition: background-color 0.2s ease-in-out;
 }

 header nav li a:hover:not(.btn) {
     color: blue;
 }


 /* responsive-navbar */

 .responsive-links {
     position: relative;
 }

 .responsive-links i {
     position: relative;
 }

 .responsive-links {
     display: none;
 }

 .responsive-links i:hover {
     color: #FFD43B;
 }

 .responsive-links i:hover .links {
     display: grid;
 }

 .responsive-links .links {
     position: absolute;
     /* top: 13px; */
     top: 17px;
     right: 0;
     z-index: 1000;
     display: none;
     gap: 30px;
     background-color: white;
     padding: 20px;
     line-height: 20px;
     width: max-content;
     height: auto;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     box-shadow: 0px 1px 4px 0 black;
     margin-right: -14px;
 }

 .responsive-links .btn {
     max-width: fit-content;
     padding: 13px 20px;
 }

 /* hero-section */
 .hero-section {
     padding: 22px 0;
     background-image: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('../img/hero-bg.svg');
     background-position: bottom;
     background-repeat: repeat-x;
     position: relative;
 }

 .hero-content {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
 }

 .hero-description {
     max-width: 515px;

 }

 .hero-badge {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 10px;
     background-color: #d3cdcdb0;
     max-width: fit-content;
     padding: 0 10px;
     margin: 0;
     border-radius: 20px;
 }

 .hero-badge img {
     height: 50px;
     max-width: 50px;
 }

 .hero-title {
     font-size: 60px;
     font-weight: bolder;
     margin: 0;
     padding-top: 30px;
 }

 .hero-sub-title {
     font-size: 20px;
     opacity: 0.7;
     margin: 30px 0;
     line-height: 32px;
 }

 .hero-btn {
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
     align-items: center;
     width: fit-content;
 }

 .btn2 {
     color: blue;
 }

 .btn2:hover {
     background-color: darkblue;
     border-radius: 40px;
     padding: 15px 15px;
     color: white;
     max-width: 160px;
     transition: background-color 0.2s ease-in-out;
 }

 .hero-visual {
     width: 550px;
     height: 750px;
     background-image: url('../img/hero-visual.png');
     background-size: contain;
     background-repeat: no-repeat;
     margin: 0;
 }


 /* partner section  */
 .partner-section h3 {
     text-align: center;
     margin: 80px 0 0;
     font-size: 25px;
 }

 .partner-logos {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 50px 0 0;
 }

 .partner-logos img {
     height: 120px;
     width: 220px;
     object-fit: contain;
 }

 /* features-section-1 */
 #features-section-1 {
     margin: 100px 0 0;
 }

 .feature-align {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 70px;
 }

 aside img {
     max-height: 700px;
     min-height: 500px;
     width: auto;
 }

 .feature-content {
     max-width: 430px;
 }

 .feature-title {
     font-size: 40px;
 }

 .feature-description {
     margin: 20px 0 30px;
     opacity: 0.8;
 }

 .feature-item {
     display: flex;
     align-items: center;
     gap: 20px;
     margin: 30px 0;
     max-width: 334px;
 }

 .feature-img img {
     min-width: 100px;
     /*responsive */
     height: 100px;
     border-radius: 100px;
     object-fit: cover;
 }

 .feature-item-content {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 10px;
 }

 .feature-item-content .title-1 {
     color: red;
 }

 .feature-item-content .title-2 {
     color: blue;
 }

 .feature-item-content .title-3 {
     color: green;
 }

 .feature-item-content p {
     opacity: 0.8;
 }

 /* .features-section-2 */
 .content-box {
     display: flex;
     align-items: center;
     max-width: 900px;
     margin: 100px auto 130px;
 }

 .content-box h2 {
     border-right: 1px solid gray;
     font-size: 30px;
     padding-right: 60px;
 }

 .content-box p {
     padding: 0 50px 0 40px;
     opacity: 0.8;
 }


 /* .features-section-3 */
 .features-section-3 .feature-align {
     margin: auto;
     justify-content: center;
 }

 .features-section-3 .feature-item {
     max-width: 263px;
 }

 /* features-section-4 */
 .features-section-4 {
     margin: 100px 0 30px;
 }

 .features-section-4 .feature-title {
     font-size: 35px;
 }

 /* features-section-5 */
 .features-section-5 {
     margin: 100px 0 120px;
 }

 .features-section-5 .feature-content {
     max-width: 535px;
 }

 .features-section-5 .feature-align {
     gap: 45px;
     max-width: 900px;
     justify-content: center;
     margin: 60px 0;
 }

 .features-section-5 .feature-item {
     max-width: 270px;
 }

 /* .features-section-6 */
 .features-section-6 {
     margin-bottom: 120px;
 }

 .features-section-6 .container {
     margin: 0 10px 0 auto;
     max-width: 1650px;
 }

 .features-section-6 .feature-align {
     justify-content: space-between;
 }

 .features-section-6 .content {
     max-width: 450px;
     margin: 0;
 }

 .features-section-6 .feature-title {
     font-size: 45px;
 }

 .features-section-6 .feature-content {
     display: flex;
     flex-wrap: wrap;
     gap: 100px;
     max-width: 700px;
 }

 .features-section-6 .feature-img {
     padding-bottom: 30px;
 }

 .features-section-6 .feature-item {
     max-width: 300px;
     display: block;
     margin: 0;
 }

 .features-section-6 aside img {
     max-height: 800px;
     width: 800px;
 }

 /* price section  */
 #price-section .feature-content {
     max-width: 496px;
 }

 #price-section .feature-title {
     font-size: 30px;
 }

 .price-toggle {
     border: 1px solid gray;
     border-radius: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: fit-content;
     padding: 5px 5px;
     margin: 80px 0;
     font-size: 20px;
 }

 #toggle-1 {
     border-radius: 40px;
     padding: 12px 23px;
     color: white;
     background-color: blue;
     cursor: pointer;
 }

 #toggle-2 {
     border-radius: 40px;
     padding: 12px 23px;
     cursor: pointer;
 }

 #monthly-cards,
 #annual-cards {
     display: flex;
     flex-wrap: wrap;
     gap: 50px;
     justify-content: center;
     margin-bottom: 100px;
 }

 .card-1 {
     height: fit-content;
     width: 272px;
 }

 .card-2 {
     border: 1px solid darkgray;
 }

 .card-1,
 .card-2 {
     box-shadow: 3px 6px 8px 0 lightgray;
     border-radius: 10px;
 }

 .card-1 .bottom-part,
 .card-2 .bottom-part {
     padding: 30px 30px 20px;
 }

 .top-part {
     background: linear-gradient(to bottom, white 10%, rgb(239, 240, 241));
     padding: 20px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 .top-part h2 {
     padding: 15px 0 10px;
     font-size: 20px;
 }

 .top-part span {
     display: flex;
     justify-content: center;
     align-items: baseline;
 }

 .top-part span h1 {
     font-size: 55px;
 }

 #price-section p,
 li {
     opacity: 0.7;
     font-size: 15px;
 }

 #price-section li {
     margin: 20px 0;
 }

 #price-section .btn {
     max-width: 131px;
     margin: 40px 0 20px 0;
 }


 /* testiminial section  */
 #testiminial-section {
     margin: 150px 0;
 }

 #testiminial-section .container {
     margin: 0 auto 0 0;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     max-width: 1650px;
 }

 #testiminial-section .feature-item {
     max-width: none;
     justify-content: space-between;
 }

 #testiminial-section .feature-img img {
     width: 70px;
     height: 70px;
 }

 #testiminial-section .feature-item-content {
     gap: 5px;
 }

 #testiminial-section .feature-content {
     max-width: 520px;
 }

 #testiminial-section .content {
     margin-top: 30px;
 }

 #testiminial-section .feature-align {
     gap: 30px;
 }

 #testiminial-section .feature-title {
     font-size: 45px;
 }

 #testiminial-section aside img {
     width: 1000px;
 }

 #testiminial-section i {
     color: #74C0FC;
 }

 #testiminial-section .testiminial-person-icon i:hover {
     cursor: pointer;
     font-size: 40px;
     color: #008eff;
 }

 #testiminial-section span i {
     color: #FFD43B;
 }

 #testiminial-section span i:hover {
     font-size: 35px;
 }


 /* faqs section */
 #faqs-section {
     margin: 100px 0;
 }

 #faqs-section .feature-content {
     max-width: 555px;
     margin-bottom: 70px;
 }

 .faq {
     max-width: 1000px;
     background-color: rgb(245, 247, 250);
     text-align: left;
     margin: 10px 0;
 }

 .faq h3 {
     padding: 20px 25px;
     font-size: 20px;
     font-weight: 700;
     cursor: pointer;
 }

 .faq-icon {
     float: inline-end;
     font-weight: normal;
     font-size: 32px;
     padding: 0 10px;
 }

 #faqs-section .faq-icon:hover {
     transform: scale(1.3);
 }

 .faq-content {
     opacity: 0.8;
     padding: 10px 25px 40px;
     display: none;
 }

 /* download-section */
 .download-section {
     margin: 0 0 -61px 0;
 }

 .download-section .container {
     margin: 0 0 0 auto;
     max-width: 1650px;
 }

 .download-section .feature-align {
     gap: 0;
     justify-content: space-between;
 }

 .download-section .feature-content {
     max-width: 650px;
 }

 .download-section .feature-title {
     font-size: 55px;
 }

 .download-section .feature-description {
     margin: 30px 0 50px;
 }

 .download-section .feature-content img {
     height: 55px;
     width: 170px;
     margin-right: 20px;
 }

 .download-section aside img {
     max-height: 450px;
     width: 860px;
 }

 .download-section .feature-content img:hover {
     transform: scale(1.1);
     transition: transform 0.3s ease-in-out;
 }

 /* footer  */
 footer {
     background-color: #000031;
     padding: 100px;
 }

 footer nav {
     display: block;
 }

 footer .links {
     justify-content: center;
     margin: 45px auto;
 }

 footer a,
 footer p {
     color: #ffffff;
 }

 footer .faq-icon img {
     height: 30px;
 }

 footer .faq-icon {
     display: inline-flex;
     align-items: center;
     gap: 15px;
     margin: 15px 0 45px 0;
     float: none;
 }

 footer i:hover {
     color: royalblue;
 }

 footer nav li a:hover {
     color: burlywood;
 }

 footer .applab:hover {
     color: orange;

     .app {
         color: white;
     }
 }



 /* RESPONSIVE */
 img {
     max-width: 100%;
     height: auto;
 }

 @media (max-width: 480px) {
     .container {
         padding: 0 15px;
     }

     aside img {
         min-height: auto;
     }

     .links {
         display: none;
     }

     .responsive-links {
         display: block;
     }

     /* .hero-section  */

     .hero-section {
         padding: 22px 0 0;
     }

     .hero-section .btn {
         padding: 15px 27px;
     }

     .hero-btn {
         gap: 30px;
     }

     .hero-visual {
         width: 300px;
         height: 500px;
         margin: 15px auto 0;
     }

     .hero-title {
         font-size: 43px;
         padding-top: 20px;
     }

     .hero-sub-title {
         font-size: 24px;
     }

     /* .partner-section */
     .partner-section h3 {
         font-size: 30px;
     }

     .partner-logos {
         margin: 15px 0 0;
     }


     /* #features-section-1 */
     #features-section-1 {
         margin: 30px 0 0;
     }

     #features-section-1 .feature-align {
         gap: 0;
     }



     /* .features-section-2 */
     .content-box {
         flex-wrap: wrap;
         gap: 20px;
         margin: 80px auto;
         text-align: center;
     }

     .content-box h2 {
         border-bottom: 1px solid gray;
         border-right: none;
         padding: 0 0 18px;
     }

     .content-box p {
         padding: 0;
     }


     /* .features-section-3 */
     .features-section-3 .feature-align {
         gap: 40px;
         text-align: center;
     }

     .features-section-3 .feature-item {
         margin: 0;
         max-width: fit-content;
     }


     /* .features-section-4 */
     .features-section-4 {
         margin: 30px 0 30px;
     }


     /* .features-section-5 */
     .features-section-5 {
         margin: 50px 0;
     }

     .features-section-5 .feature-align {
         margin: 0;
         gap: 0;
     }

     .features-section-5 .feature-item {
         max-width: fit-content;
         margin: 15px 0;
     }


     /* .features-section-6 */
     .features-section-6 {
         margin-bottom: 60px;
     }

     .features-section-6 .feature-content {
         gap: 40px;
     }

     .features-section-6 .feature-item {
         display: flex;
         margin: 0 auto;
     }

     .features-section-6 .feature-align {
         gap: 25px;
     }


     /* #price-section */
     .price-toggle {
         margin: 30px 0;
     }

     #monthly-cards,
     #annual-cards {
         margin-bottom: 50px;
     }


     /* #testiminial-section */

     #testiminial-section {
         margin: 36px 0;
     }

     #testiminial-section .feature-title {
         font-size: 33px;
     }

     #testiminial-section .feature-img img {
         min-width: auto;
     }

     #testiminial-section .feature-item {
         gap: 0;
     }

     /* faq section  */
     #faqs-section {
         margin: 55px 0;
     }

     #faqs-section .feature-content {
         margin-bottom: 42px;
     }

     .faq-content {
         padding: 10px 0 18px 23px;
     }


     /* .download-section */
     .download-section {
         margin: 26px 0 -30px 0;
     }

     .download-section .feature-title {
         font-size: 52px;
     }

     .download-section .feature-description {
         margin: 30px 0 34px;
     }

     .download-section .feature-content img {
         margin-right: 6px;
     }

     /* footer */
     footer {
         padding: 38px;
     }

     footer .links {
         display: grid;
         gap: 30px;
     }

     footer .faq-icon {
         margin: 0 0 38px 0;
     }
 }
